<div class="card">
  <%= link_to image_tag(mountain.image, class: :card__img ), root_path %>
  <div class="card__body">
    <%= link_to mountain.mountain_name, mountain_path(mountain), class: :card__title%>
    <p class="card__summary">
      <%= mountain.level %>
    </p>
    <%= link_to "by #{mountain.user.name}", user_path(mountain.user), class: :card__user %>
  </div>
</div>